{% extends 'flatpages/single_post/0_add_intermediate.html' %}


{% block single_post_content %}
<!-- ======= Single Post Content ======= -->
<div class="single-post">
  <div class="post-meta">
    <span class="date">

      {% for category in single_news.category.all %}
        <a href="{{ category.name }}">{{ category.name }},</a>
      {% endfor %}

    </span>
    <span class="mx-1">&bullet;</span>
    <span>{{ single_news.published_at|date:"Y M d D G:i" }}</span>
  </div>
  <h1 class="mb-5">{{ single_news.title }}</h1>
  <h5 class="mb-5">Автор: {{ single_news.author.first_name }} {{ single_news.author.last_name }}</h5>

  <div class="d-flex align-items-center author">
    <div class="photo"><img src="{{ single_news.parsed_from.icon_url }}" alt="" class="img-fluid"></div>
      <div class="name">
        <h3 class="m-0 p-0"><a href="{{ single_news.full_text_link }}" target="_blank">Читать в источнике: {{ single_news.parsed_from.name }}</a> </h3>
      </div>
  </div>

  <figure class="my-4">
    <img src="{{ single_news.title_image_url }}" alt="" class="img-fluid">
<!--    <figcaption>{{ single_news.title_image_url.description }}</figcaption>-->
  </figure>

  {% for p in single_news.split_by_XYWZ %}

      {% if 'Ранее мы' not in p and 'Напомним, что' not in p and 'Ранее НГС' not in p and 'Также напомним, что' not in p and 'Ранее «Континент Сибирь»' not in p %}
      <p>{{ p }}</p>
      {% endif %}

      {% if forloop.counter == 3 or forloop.counter == 6 or forloop.counter == 9 or forloop.last %}
        {% block advertisement %}
        {% endblock %}
      {% endif %}

  {% endfor %}

  {% for photo in single_news.split_photo_urls %}
    <p>
    <img src="{{ photo }}" alt="" class="img-fluid">
    </p>
  {% endfor %}

  <div class="d-flex align-items-center author">
    <div class="photo"><img src="{{ single_news.parsed_from.icon_url }}" alt="" class="img-fluid"></div>
      <div class="name">
        <h3 class="m-0 p-0"><a href="{{ single_news.full_text_link }}" target="_blank">Читать в источнике: {{ single_news.parsed_from.name }}</a> </h3>
      </div>
  </div>

</div><!-- End Single Post Content -->
{% endblock single_post_content %}