{% extends 'flatpages/single_post/2_add_comments.html' %}


{% block comment_form %}

<!-- ======= Comments Form ======= -->
<div class="row justify-content-center mt-5">

  <div class="col-lg-12">
    <h5 class="comment-title">Оставить комментарий</h5>
    <div class="row">
      <div class="col-lg-6 mb-3">
        <label for="comment-name">Имя</label>
        <input type="text" class="form-control" id="comment-name" placeholder="Ваше имя">
      </div>
      <div class="col-lg-6 mb-3">
        <label for="comment-email">Email</label>
        <input type="text" class="form-control" id="comment-email" placeholder="Ваш email">
      </div>
      <div class="col-12 mb-3">
        <label for="comment-message">Сообщение</label>

        <textarea class="form-control" id="comment-message" placeholder="Текст сообщения" cols="30" rows="10"></textarea>
      </div>
      <div class="col-12">
        <input type="submit" class="btn btn-primary" value="Отправить сообщение">
      </div>
    </div>
  </div>
</div><!-- End Comments Form -->

{% endblock comment_form %}