{% extends 'flatpages/1_add_head.html' %}

{% block header %}
    <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Новости Города</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/news">Все новости</a></li>
          <li class="dropdown"><a href="/news/categories/"><span>Категории</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              {% for category in categories|slice:":15" %}
                <li><a href="/news/category/{{ category.id }}">{{ category.name }}</a></li>
                <ul>
                  {% for undercat in category.name %}
                    <li><a href="#">Подкатегория 1</a></li>
                  {% endfor %}
                </ul>
              {% endfor %}
              </li>
            </ul>
          </li>
          <li class="dropdown"><a href="/news/origins/"><span>Источники</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              {% for origin in origins %}
                <li><a href="/news/origin/{{ origin.id }}">{{ origin.name }}</a></li>
                <ul>
                  {% for undercat in origin.name %}
                    <li><a href="#">Подкатегория 1</a></li>
                  {% endfor %}
                </ul>
              {% endfor %}
              </li>
            </ul>
          </li>
          <li><a href="/about">О компании</a></li>
          <li><a href="/contacts">Рекламодателям</a></li>
        </ul>
      </nav><!-- .navbar -->

      <script async src="https://usocial.pro/usocial/usocial.js?uid=a7bc540e89f74244&v=6.1.5" data-script="usocial" charset="utf-8"></script>
      <!-- uSocial -->
      <script async src="https://usocial.pro/usocial/usocial.js?uid=2b693ec57df74244&v=6.1.5" data-script="usocial" charset="utf-8"></script>
      <div class="uSocial-Share" data-pid="65993eecd17c315898dc08c5f8be400b" data-type="share" data-options="round,style4,default,absolute,horizontal,size32,counter1,counter-after,mobile_position_right" data-social="telegram,wa,vk,ok,email"></div>
      <!-- /uSocial -->

      <div class="position-relative">

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>

        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Поиск" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->
{% endblock header %}