{% extends 'flatpages/tag/3_add_pagination.html' %}


{% block tag_list %}
{% for tag in tags %}

<!-- ======= Category Section ======= -->
<!--<section class="category-section">-->
<!--  <div class="container" data-aos="fade-up">-->

<!--    <div class="section-header d-flex justify-content-between align-items-center mb-5">-->
      <h2><a href="/news/tag/{{ tag.id }}/">{{ tag.name }}</a></h2>
<!--            Все новости в категории -->
<!--          <div><a href="/news/category/{{ category.id }}" class="more">Все новости в категории {{ category.name }}</a></div>-->
<!--    </div>-->

<!--  </div>-->
<!--</section>-->
<!-- End Culture Category Section -->

{% endfor %}
{% endblock tag_list %}

{% block sidebar %}
{% endblock sidebar %}