{% extends 'flatpages/index/0_add_blank_content.html' %}


{% block slider %}
    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">

                {% for news in latest_news %}
                <div class="swiper-slide">
                  <a href="{{ news.pk }}" class="img-bg d-flex align-items-end" style="background-image: url('{{ news.title_image_url }}');">
                    <div class="img-bg-inner">
                      <h2>{{ news.title }}</h2>
                      <p>{{ news.brief_text|truncatewords:20 }}</p>
                      </div>
                  </a>
                </div>
                {% endfor %}

              </div>

              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->
{% endblock slider %}