{% extends 'flatpages/index/2_add_postgrid.html' %}

{% block trending_section %}
<!-- Trending Section -->
<div class="col-lg-4">

<div class="trending">
  <h3>В трендах</h3>
  <ul class="trending-post">
    {% for number, news in enum_trending_news %}
    <li>
      <a href="{{ news.id }}">
        <span class="number">{{ number|add:"1" }}</span>
        <h3>{{ news.title }}</h3>
        <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{{ news.parsed_from.icon_url }}" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">{{ news.parsed_from.name }}</h3>
                  </div>
        </div>
<!--        <span class="author">{{ news.parsed_from.name }}</span>-->
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

</div> <!-- End Trending Section -->
{% endblock trending_section %}