{% extends 'flatpages/index/4_add_categories.html' %}
{% load cache %}
{% load static %}

{% block advertisement %}
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
        {% for ad in advertisements|slice:"4" %}

            <div class="col-md-3">

                <div class="swiper sliderFeaturedPosts">
                    <div class="swiper-wrapper">
                        {% for image_url in ad.get_images_urls %}
                        <div class="swiper-slide">
                            <div class="row-bg-12">
                              <a href="{{ ad.link }}" class="img-reclame d-flex align-items-end" style="background-image: url({% static image_url %});" target="_blank">
                                                            <div class="img-bg-inner">
<!--                                                              <h2>{{ ad.name }}</h2>-->
<!--                                                              <p>{{ ad.description }}</p>-->
                                                              </div>
                              </a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

        {% endfor %}
        </div>
      </div>
    </section><!-- End Hero Slider Section -->
{% endblock %}